<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WishDash</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  {{!-- Navbar --}}
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a href="/"> <img id="logo-container" class="brand-logo" src="/images/WishDash-logos_white.png" alt="logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a class="text-white" href="/">Home</a></li>
        <li><a class="text-white" href="/login">Login</a></li>
        <li><a class="text-white" href="/wishlist">Wishlist</a></li>
        <li><a class="text-white" href="/createGiftExchange">Create Exchange</a></li>
        <li><a class="text-white" href="/joinGiftExchange">Join Exchange</a></li>
      </ul>

    </div>
  </nav>

{{!-- Sidenav for mobile devices --}}
<ul id="mobile-demo" class="sidenav black">
    <li><a class="text-white" href="/">Home</a></li>
    <li><a class="text-white" href="/login">Login</a></li>
    <li><a class="text-white" href="/wishlist">Wishlist</a></li>
    <li><a class="text-white" href="/createGiftExchange">Create Exchange</a></li>
    <li><a class="text-white" href="/joinGiftExchange">Join Exchange</a></li>
</ul>

  {{!-- Welcome banner --}}
  <div id="index-banner welcome-banner" class="parallax-container">
      <div class="container welcome">
        <br><br>
        <h1 class="header center">Welcome to WishDash!</h1>
        <div class="row center">
          <h5 class="header center col s12 light">Your home for online gift exchanges</h5>
        </div>
        <div class="row center">
          <a href="/login" id="download-button-banner" class="btn-large waves-effect waves-light green darken-4">Get
            Started</a>
          <br><br>
        </div>
    </div>
      <div class="parallax">
        <img class="gift-image" id="bell-gift" src="/images/bell-gift.jpg" alt="gifts background img 1">
      </div>
  </div>

  {{!-- HOMEPAGE HANDLEBARS --> --}}
  <div class="section">
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      <div class="hi">
        {{{ body }}}
      </div>
    </main>
  </div>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Made by Hannah Dowell, Jessica White, and Micah Waweru at
                  Northwestern
                  Coding Bootcamp 2021.</p>


              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                  <li><a class="white-text text-lighten-3" href="https://github.com/SQelves/Project-02">SQelves Team
                      Github</a>
                  </li>
                  <li><a class="white-text" href="https://github.com/hrdowell">Hannah Dowell</a></li>
                  <li><a class="white-text" href="https://github.com/micahwaweru">Micah Waweru</a></li>
                  <li><a class="white-text" href="https://github.com/Whit1JL">Jessica White</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              Created with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
          </div>
  </footer>

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/js//materialize/materialize.js"></script>
        <script src="/js/materialize/init.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
        </script>
</body>




</html>