<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WishDash</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a href="/"> <img id="logo-container" class="brand-logo" src="/images/WishDash-logos_white.png" alt="logo"></a>

      </ul>

    </div>
  </nav>



  {{!-- Welcome banner --}}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Welcome to WishDash!</h1>
        <div class="row center">
          <h5 class="header center col s12 light">Your home for online gift exchanges</h5>
        </div>
        <div class="row center">
          <a href="/login" id="download-button-banner" class="btn-large waves-effect waves-light green darken-4">Get
            Started</a>
          <br><br>
        </div>

      </div>
    </div>
    <div class="parallax">
      <img class="gift-image" id="gold-gift" src="/images/gold-gift.jpg" alt="gifts background img 1">
    </div>
  </div>
  {{!-- HOMEPAGE HANDLEBARS --> --}}
  <div class="section">
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      <div class="hi">
        {{{ body }}}
      </div>
    </main>
  </div>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Made by Hannah Dowell, Jessica White, and Micah Waweru at
                  Northwestern
                  Coding Bootcamp 2021.</p>


              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                  <li><a class="white-text text-lighten-3" href="https://github.com/SQelves/Project-02">SQelves Team
                      Github</a>
                  </li>
                  <li><a class="white-text" href="https://github.com/hrdowell">Hannah Dowell</a></li>
                  <li><a class="white-text" href="https://github.com/micahwaweru">Micah Waweru</a></li>
                  <li><a class="white-text" href="https://github.com/Whit1JL">Jessica White</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              Created with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
          </div>
  </footer>





  {{!--
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>Welcome to WishDash!</h1>
    </header>
    <nav>
      <!-- Conditionally render login or logout links -->
      <a href="/">Home</a>
      {{!-- {{#if logged_in}}
      <a href="/homepage">homepage</a> |
      <button class="no-button" id="logout">logout</button>
      {{else}} --}}
      {{!-- <a href="/Login">login</a>
      {{!-- {{/if}} --}}
      {{!-- <button type="button" onclick="" value="Wish Now" </a>
    </nav>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      <div class="parallax-container">
        <img src="/images/flower-gift.jpg" class="homeimage" alt="WishDash">
      </div>
      <br><br>
      <div class="hi">
        {{{ body }}}
      </div>
    </main> --}}

    {{!-- Jess: how do I call the join gift exchange handlebar? I will come back to this when I am certain --}}
    {{!-- <aside>
      <div class="" </aside> --}}


        {{!--
        <a href="/login">login</a>

        </nav> --}}

        <!-- Render script for logged in users only -->
        {{!-- {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}} --}}
        {{!--
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="js/init.js"></script> --}}

        {{!--
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
          });
        </script> --}}

        {{!-- original script tag
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/js//materialize/materialize.js"></script>
        <script src="/js/materialize/init.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
        </script>
</body>




</html>