<div class="formContainer">
    <h2>Plan your Next Gift Exchange!</h2>
        <form id="createForm">
            <label for="giftExchangeName">Gift Exchange Name</label>
            <input type="text" id="giftExchangeName">
            <br>
            <label for="giftExchangeDate">Gift Exchange Date</label>
            <input type="date" id="giftExchangeDate" name="Date" value="2021-12-25">
            <br>
            <label for="giftExchangeTime">Gift Exchange Time</label>
            <input type="time" id="time" name="time" value="05:00PM">
            <br>
            <label for="RSVPDeadline">RSVP Deadline (Names will be drawn the following day)</label>
            <input type="date" id="RSVP" name="date" value="2021-11-25">
            <br>
            <label for="participate">Are you participating?</label>
            <select name="particiapte" id="participate">
              <option value="yes">Yes, can't wait!</option>
              <option value="no">No, I'm just the organizer.</option>
            </select>
            <br>
            <label for="budget">What is the gift budget?</label>
            <input type="number" id="budget">
            <br>
            <label for="message">Anything else you'd like to tell everyone?</label>
            <textarea id="message" name="message" rows="4" cols="50"></textarea>
            <br>
            <button id="submitBtn">Submit</button>
        </form>

</div>