<div class="formContainer">
        <form id="createForm">
          <h2>Plan your Next Gift Exchange!</h2>

            <label for="giftExchangeName">Gift Exchange Name</label>
            <input type="text" id="giftExchangeName">
            <br>

            <label for="giftExchangeDate">Gift Exchange Date</label>
            <input type="date" id="giftExchangeDate" name="Date" value="2021-12-25">
            <br>
            <label for="giftExchangeTime">Gift Exchange Time</label>
            <input type="time" id="time" name="time" value="05:00PM">
            <br>

            <label for="RSVPDeadline">RSVP Deadline (Names will be drawn the following day)</label>
            <input type="date" id="RSVP" name="date" value="2021-11-25">
            <br>
            <label for="participate">Are you participating?</label>
            <input type="text" id="giftName">
            <br>
            <label for="giftDesc">Please give a brief description of your gift</label>
            <br>
            <textarea name="giftDesc" id="giftDesc" cols="30" rows="10"></textarea>
            <br>
            <label for="price">Price: $</label>
            <input type="number" id="price">
            <br>
            <button id="submitBtn">Submit</button>

        </form>

</div>