<div class="row homepage">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center green-text text-darken-3"><i class="material-icons">person_add</i></h2>
      <h5 class="center">Login or Signup</h5>

      <p class="light center">Click here to login to your account or create a new one. View your wishlist & other wishlists created by friends & family.</p>
        <div class="center">
          <a href="/login" id="download-button" class="btn-large center waves-effect waves-light black">Login</a>
        </div>
    </div>
  </div>
  
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center green-text text-darken-3"><i class="material-icons">receipt_long</i></h2>
      <h5 class="center">Wishlists</h5>

      <p class="light center">Create, view, and edit wishlists for holidays, special occasions, or even just because. Share with others and take the stress out of gift-giving.</p>
        <div class="center">
          <a href="/wishlist" id="download-button" class="btn-large center waves-effect waves-light black lighten-1">Create Now</a>
        </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center green-text text-darken-3"><i class="material-icons">redeem</i></h2>
      <h5 class="center">View Profile</h5>

      <p class="light center">View any wishlists you have saved including gifts with an added description. Add to your wishlist throughout the year so you won't leave anything out during the holidays.</p>
      <div class="center">
          <a href="/profile" id="download-button" class="btn-large waves-effect waves-light black">View
        Here</a>
      </div>
    </div>
  </div>
</div>

</div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center" id="about-banner">
        <h5 class="flow-text col h5 s12 light" id="aboutImg">WishDash is your home for all things gift-giving. Create and edit a wishlist for free and share your wishlist with loved ones. We take the stress out of the holiday season and special occasions so that all you have to worry about is sharing and receiving the perfect gifts.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img class="responsive-img" id="tree-gift" src="/images/tree-gift.jpg" alt="Unsplashed background img 2"></div>
</div>

<main>
  <div class="section" id="index-banner ourTeam">
    <br><br><h1 class="header center">About Us</h1>
      <h5 class="header center flow-text"><em> A Team of Ambitious Learners</em></h5><br><br><br>
  </div>
  </div>
</main>
<div class="container">
  <div class="row">
    <div class="content col s3">
      <img src="/images/Jess.jpg" class="circle responsive-img" id="personalphoto1" alt="Jessica">
    </div>
    <div class="bio col s9" c,>
      <h2 class="flow-text">Jessica White</h2><br><br>
      <!-- Bio info -->
      <p class="flow-text">
        Jessica White is a dynamic, innovative and charismatic young woman with a passion to assist others. Hailing from Harvey, IL, Ms. White has always been hard working and versatile, as well as serving in one capacity or another in her community. Currently, she is in a coding boot camp receiving hands on experience in full stack web development. 
        
        Some of Jessica’s hobbies are reading, traveling, learning, spending time with loved ones, and being out in nature. She hopes to one day run her own business.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="content col s3">
        <img src="/images/Hannah.jpg" class="personalphoto circle responsive-img" id="personalphoto2" alt="Hannah">
      </div>
      <div class="bio col s9" id="#bio2">
        <h2 class="flow-text"> Hannah Dowell</h2><br><br>
        <!-- Bio info -->
        <p class="flow-text">
          Hannah is a full-stack web developer with customer service experience educated at Indiana University. She is talented at solving complex programming problems to create a meaningful user experience, while collaborating with and uplifting others on a team. Passionate about constantly innovating to create the best code possible.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="content col s3">
          <img src="/images/Micah.jpg" class="circle responsive-img" id="personalphoto3" alt="Micah">
        </div>
        <div class="bio col s9" id="bio3">
          <h2 class="flow-text"> Micah Waweru</h2><br><br>
          <!-- Bio info -->

          <p class="flow-text">Micah is an IT Profesional with experience in product support, analysis, management and development. Micah has worked in Technical Product Management and Analysis and is currently being educated in full stack development through Northwestern. Micah is passionate about providing the end user with the product possible</p>
        </div>
        </p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header flow-text h4 col s12 light" id="footerImg">Stop waiting and receive your gifts in a flash with WishDash!</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img class="responsive-img" id="gifts1" src="/images/gifts1.jpg" alt="Unsplashed background img 3"></div>
</div>