<div class="formContainer card">
        <form id="createWishlist" class="card-content">
            <span class="card-title">Create a wishlist</span>
            <label for="userFirstName">First Name</label>
            <input type="text" id="userFirstName">
            <br>
            <label for="userLastName">Last Name</label>
            <input type="text" id="userLastName">
            <br>
            <label for="userDesc">Please give a brief description of yourself</label>
            <br>
            <textarea name="userDesc" id="userDesc" cols="30" rows="10"></textarea>
            <br>
            <button id="createListBtn" class="btn-large waves-effect waves-light green darken-4">Submit</button>

        </form>

</div>

<script src="/js/joinGiftExchange.js"></script>
<script src="/js/creategift.js"></script>