<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user}}!</h2>
    <p>You have _ wishes & _ gift exchanges.</p>
  </div>
</div>

<div class="row mt-4" "col-md-6">
  <div class="row">
    <div class="column">
      <h3>WISHLISTS:</h3>
    {{!-- add something that base it off of user's input --}}

      <button type="submit" class="btn btn-primary">Add to Wishlist</button>
    </div>

    <div class="column">
      <h3>GIFT EXCHANGES:</h3>

      {{!-- add something that base it off of user's input --}}

      <button type="submit" class="btn btn-primary">Start a Gift Exchange</button>
    </div>

    <div class="column">
      <h3>GIFT IDEAS:</h3>
      {{!-- add sample gifts or something? --}}
    </div>
  </div>
</div>

<script src="/public/js/profile.js"></script>