<div class="row">
  <div class="col-auto">
    <h2>Welcome, <h3 id="dynamicName">{{user.name}}</h3>! <button id="logoutBtn">Log Out</button></h2>
    <ul id="giftsUl"></ul>
  </div>
</div>

<div class="row mt-4" "col-md-6">
  <div class="row">
   
        <form id="userForm" class="card-content">
            <span class="card-title">Add to wishlist</span>
            <label for="userFirstName">First Name</label>
            <input type="text" id="userFirstName">
            <br>
            <label for="userLastName">Last Name</label>
            <input type="text" id="userLastName">
            <br>
            <label for="giftName">Gift Name</label>
            <input type="text" id="giftName">
            <br>
            <label for="giftDesc">Please give a brief description of your gift</label>
            <br>
            <textarea name="giftDesc" id="giftDesc" cols="30" rows="10"></textarea>
            <br>
            <button id="joinExchangeBtn" class="btn-large waves-effect waves-light green darken-4">Submit</button>

        </form>
</div>

<script src="/js/profile.js"></script>
<script src="/js/creategift.js"></script>
<script src="/js/logout.js"></script>
