<div class="card">
  <div class="col-auto">
    <h2 class="card-title center">Welcome, <h3 id="dynamicName" class="card-title center">{{user.name}}!</h3></h2>
    <ul id="giftsUl"></ul>
  </div>
</div>
<div class="card">
  <div class="project-list">
    <h3 class="card-title">My Wishlist</h3>

    <div class="card-content">
        <h4 class="card-title">Gifts</h4>
        <ul id="giftsUl"></ul>
    </div>
   
  </div>
</div>


<div class="card">
        <form id="userForm" class="card-content">
            <span class="card-title">Add to wishlist</span>
            <label for="userFirstName">First Name</label>
            <input type="text" id="userFirstName">
            <br>
            <label for="userLastName">Last Name</label>
            <input type="text" id="userLastName">
            <br>
            <label for="giftName">Gift Name</label>
            <input type="text" id="giftName">
            <br>
            <label for="giftDesc">Please give a brief description of your gift</label>
            <br>
            <textarea name="giftDesc" id="giftDesc" cols="30" rows="10"></textarea>
            <br>
            <button id="joinExchangeBtn" class="btn waves-effect waves-light green darken-4 white-text ">Submit</button>

            <button id="logoutBtn" class="btn right waves-effect waves-light black white-text">Log Out</button>
            <a href="/wishlist" id="wishBtnProf" class="btn right waves-effect waves-light green darken-4 white-text">View Wishlists</a>
            

        </form>
</div>

<script src="/js/profile.js"></script>
<script src="/js/creategift.js"></script>
<script src="/js/logout.js"></script>
