<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}! View your wishlists below.</h2>
  </div>
</div>

  
  <div class="col-md-6 project-list">
    <h3>Exchange Name</h3>

   
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>Gifts</h4>
        <ul id="giftList"></ul>
        
      </div>
    </div>
   
  </div>
  
</div>

<script src="/js/wishlist.js"></script>