header {
  border-bottom: 1px solid #ccc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-weight: bold;
    padding: 60px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.homeimage {
  border: 2px solid red;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.brand-logo {
  height: 115%;
  margin-bottom: 50em;
  width: auto;
  display: flex;
  align-items: center;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.no-button {
  background: none;
  border: none;
  padding: 15 px 32px;
  cursor: pointer;
  color: #1b89bc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 4px 2px;
  cursor: pointer; 
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

/* #logout {

} */

.footer {
  position: absolute;
  left: 0; 
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  background-color: red;
  color: green;
  text-align: center;
}


/* template css */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  margin-bottom: 0px;
}
  .parallax-container .section {
    width: 100%;
    padding: 0;
  }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


#parallax-img, #gold-gift, #pink-gift, #tree-gift, #gifts1 {
    opacity: 100%;
    zoom:10%;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* column and row goes with profile.handlebars */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}